@font-face {
    font-family: san-fran;
    src: url(fonts/san-fran-thin.ttf);
}

h1, h3, p {
	font-family: san-fran;
	color: black;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

h3 {
	font-size: 500%;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.hide {
  display: none;
}

.show {
  display: block;
}

body {
	padding: 0px;
	margin: 0px;
}

#banner {
	margin: auto;
	text-align: center;
	padding-bottom: 3%;
	padding-top: 7%;

}

.section {
	clear: both;
	margin: auto;

}

.section h3 {
  overflow: auto;
	max-width: 140px;
	min-width: 140px;
	max-height: 140px;
	min-height: 140px;
	cursor: pointer;
	padding-top: 12%;
	padding-right: 12%;
	margin-left: 20%;
	padding-left: 3%;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

p {
	color: white;
	font-size: 40%;
  text-align: justify;
  text-justify: inter-word;
  margin-right: 2%;
}

.odd {
	background-color: #85144b;
}

.odd h3 {
	color: #FF851B;
	top:0px;
	border: solid #FF851B 3px;
}

.even {
	background-color: #39CCCC;
}

.even h3 {
	color: #FFFFFF;
	background-color: #000000;
	border: solid #000000 3px;
}

.section h3 {
	display: inline-block;
	border-radius: 7px;
}

.ico {
	display: inline-block;
	background-repeat: no-repeat;
	width: 120px;
	height: 120px;
	margin: 0 auto;
}

.github {
	background-image: url(ico/github.png);
}

.tweet {
	background-image: url(ico/twitter.png);
	background-size: 120px 120px;
	border-radius: 100px;
}

.animate {
	max-width: 90% !important;
	min-width: 90% !important;
	max-height: 90% !important;
	min-height: 90% !important;
	padding-top: 0% !important;
	padding-right: 0% !important;
	margin-left: 4% !important;
	padding-left: 2% !important;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

footer {
	padding-top: 2%;
	margin-bottom: 5%;
	max-height: 15% !important;
	min-height: 15% !important;
	min-width: 100%;
	text-align: center;
}
